.text-black{
    color:black;
}
.bg-light-orange{
    background-color: #ff6000 !important;
}
.bg-offwhite{
    background-color: #eaeaea;
}
.bg-light-pink{
    background-color: #ffe3d3;
}
.text-rock-black{
    color:#777777 !important;
}
.text-dark-orange{
    color: #ff5b00 !important;
}
.text-cadet-grey{
    color: #98a5b9;
}
.bg-yellow{
    background-color: #ffc600;
}
.bg-light-grey{
    background-color: #f0f0f0;
}
.bg-light-grey-opacity{
    background-color: #00000083;
}
.bg-black-opacity{
    background-color: rgba(0, 0, 0, 0.781);
}
.bg-grey{
    background-color: rgba(125, 125, 138, 0.801);
}
.bg-soft-peach{
    background-color: #eaebee;
}
.text-blue{
    color: #00274d;
}