.text-black{
    color:black;
}
.bg-light-orange{
    background-color: #ff6000 !important;
}
.bg-offwhite{
    background-color: #eaeaea;
}
.text-rock-black{
    color:#777777 !important;
}
.text-dark-orange{
    color: #ff5b00 !important;
}
.text-cadet-grey{
    color: #98a5b9;
}
.bg-yellow{
    background-color: #ffc600;
}
.bg-light-grey{
    background-color: #f0f0f0;
}
.text-blue{
    color: #00274d;
}