.custom-software-banner{
    top:20%;
}
.cards{
    margin-top:-200px;
    .card{
        width: 350px !important;
        height: 320px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 30px;
        margin: 20px;
    }
    .card-1{
        transform: rotate(8deg);
    }
    .card-2{
        transform: rotate(-8deg);
    }
    .card-3{
        transform: rotate(8deg);
    }
    .card-4{
        transform: rotate(-8deg);
    }
    .card-5{
        transform: rotate(8deg);
    }
    .card-6{
        transform: rotate(-8deg);
    }
    .card-7{
        transform: rotate(8deg);
    }
    .card-8{
        transform: rotate(-8deg);
    }
}
.project-number-cards{
    background-color: #f0f0f0;
    border: 2px dotted #98a5b9;
}
.project-number-cards:hover{
    background-color: #ff6000;
    border: none;
    color: white !important;
    cursor: pointer;
    .text{
        color: white !important;
    }
}
.project-div{
    width: 800px !important;
}