@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.font-railway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
  }
.w-65{
    width: 65%;
}
.w-300px{
    width: 300px;
}
.min-height-50{
    min-height: 50vh !important;
}
.fs-70{
    font-size: 70px;
}
.fs-75 {
    font-size: 75px;
}
.fs-80 {
    font-size: 75px;
}
.fs-55 {
    font-size: 50px;
}
.fs-45 {
    font-size: 45px;
}
.fw-500{
    font-weight: 500;
}
.fw-400{
    font-weight: 400;
}
.fw-600 {
    font-weight: 600;
}
@media screen and (max-width:1300px) {
    .fs-r-50{
        font-size: 50px !important;
    }
}
.line-height-90{
    line-height: 90px;
}
@media screen and (max-width:1300px) {
    .line-height-r-auto{
        line-height: 55px !important;
    }
}
.line-height-42{
    line-height: 42px;
}
.line-height-25{
    line-height: 25px;
}
.radius-20 {
    border-radius: 20px;
}
.radius-10 {
    border-radius: 10px;
}
.radius-30 {
    border-radius: 30px;
}
.radius-40 {
    border-radius: 40px;
}
.radius-50 {
    border-radius: 50px;
}
.radius-left-3-important{
    border-bottom-left-radius: 3px !important;
}
.radius-right-3-important{
    border-bottom-right-radius: 3px !important;
}
.radius-right-10-important{
    border-bottom-right-radius: 10px !important;
}
.radius-top-left-3-important{
    border-top-left-radius: 3px !important;
}
.radius-top-right-3-important{
    border-top-right-radius: 3px !important;
}
.opacity-7{
    opacity: 0.7 !important;
}
.opacity-9{
    opacity: 0.9 !important;
}
.z-index-1{
    z-index: 1 !important;
}
.portfolio-slider {
    background-color: #fa6b12;
}
.hexagon {
    height: 200px !important;
    width: 200px !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // margin-left: 100px;
    position: relative;
    overflow: hidden;
}

.outer-img {
    top: 10px;
    left: -8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 165px;
    z-index: 0;
}

.inner-img {
    top: 16px;
    right: 25px;
    cursor: pointer;
    visibility: hidden;
    position: absolute;
    width: 165px;
    height: 165px;
    z-index: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    img {
        transition: 1s width;
        width: 0%;
    }
}

.hexagon:hover {
    .inner-img {
        img {
            width: 100%;
            transition: 1s width;
        }
        transition: 1s width;
        visibility: visible;
    }
}

.hexagon-ring {
    z-index: 1 !important;
}

.hexagon-outer {
    width: 200px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.talk-arrow{
    margin-top: 19px;
    margin-left: 12px;
}
.book-service-btn{
    background-color: black;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 5px;
}
.text-shadow{
    text-shadow: 2px 2px #cfcfcf;
}
.letter-spacing-5{
    letter-spacing: 5px;
}
.letter-spacing-3{
    letter-spacing: 3px;
}
.letter-spacing-2{
    letter-spacing: 2px;
}
.border-dotted{
    border: 2px dotted #98a5b9;
}

.read-more-box{
    bottom: -30px !important;
    left: 8px !important;
}
