.navbar-expand-lg{
    top:43px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 5px;
    z-index: 1000;
}
.call-btn{
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    &:hover{
        color: white;
    }
}
.whatsapp-btn{
    background-color: #ffffff;
    color: black;
    font-weight: 600;
    font-size: 18px;
    &:hover{
        color: black;
    }
}
.contact-btn{
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 7px;
    &:hover{
        color: white;
    }
}

@media only screen and ((max-width:1080px) and (min-width:992px)){
    .call-btn, .whatsapp-btn, .contact-btn, .nav-link{
        font-size: 14px;
    }
}
@media only screen and (max-width:600px){
    .navbar-expand-lg{
        border-radius: 35px;
    }
}