@media only screen and (max-width:535px){
     .estate-pie-box{
        .heading{
            font-size: 25px !important;
        }
        .text{
            font-size: 17px !important;
        }
    }

    .carchive-app-box{
        .heading{
            font-size: 60px;
        }
        .text{
            font-size: 17px;
        }
    }
    .estate-pie-app-box{
        .heading{
            font-size: 25px !important;
        }
        .text{
            font-size: 17px !important;
        }
    }
    .carchive-web-box{
        .heading{
            font-size: 60px;
        }
        .text{
            font-size: 17px;
        }
    }
    .about-jeux-deevelopers{
        .jeux-text{
            margin-top:10px;
        }
        .text-cadet-grey{
            font-size: 17px;
        }
        .project-detail{
            .text{
                font-size: 25px;
            }
        }
    }
    .story-box{
        .text{
            font-size: 17px;
        }
    }
}
@media only screen and (max-width:1400px){
    .home-page-heading {
        top:50% !important;
        p{
        font-size: 55px !important;
        }
    }
    .cofee-cup-div {
        top: 30% !important;
    }
}
@media only screen and (max-width:1000px){
    .home-page-heading {
        p{
        font-size: 40px !important;
        }
    }
    .lcd-div {
       width: 100% !important;
    }

    .cofee-cup-div {
        top: 30% !important;
    }
    .mouse-div {
        bottom: 30% !important;
        right: 7% !important;
    }
    .keyboard-div {
        bottom: 0px !important;
    }
}
@media only screen and (max-width:730px){
    .home-page-heading {
        top:45% !important;
        p{
        font-size: 35px !important;
        }
    }
    .lcd-div {
       width: 100% !important;
       img{
        width: 95% !important;
       }
    }

    .cofee-cup-div {
        top: 23% !important;
    }
    .mouse-div {
        bottom: 35% !important;
        right: 2% !important;
    }
    .keyboard-div {
        bottom: 15% !important;
    }
}
@media only screen and (max-width:530px){
  .home-banner{
    height: 77vh !important;
  }
    .home-page-heading {
        top:60% !important;
        p{
        font-size: 38px !important;
        line-height: 40px;
        font-weight: bolder !important;
        }
    }
    .lcd-div {
       width: 100% !important;
       .lcd-img1{
        display: none !important;
       }
       .lcd-img2{
        display: block !important;
        width: 90% !important;
        margin-left: 7px !important;
       }
    }

    .cofee-cup-div {
        top: 27% !important;
        left: -17% !important;
        width: 120px !important;
    }
    .mouse-div {
        bottom: 16% !important;
        right: -1% !important;
        width: 100px !important;
    }
    .keyboard-div {
        bottom: -50px !important;
    width:300px !important;
    }
}
@media only screen and (max-width:600px){
    .lcd-div {
        position: absolute;
        top: 75px !important;
        z-index: 1;
    }
    .skill{
        width: 140px !important;
    }
}