@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
.text-black {
  color: black;
}

.bg-light-orange {
  background-color: #ff6000;
}

.bg-offwhite {
  background-color: #eaeaea;
}

.text-rock-black {
  color: #777777 !important;
}

.text-dark-orange {
  color: #ff5b00 !important;
}

.text-cadet-grey {
  color: #98a5b9;
}

.bg-yellow {
  background-color: #ffc600;
}

.text-blue {
  color: #00274d;
}

.font-railway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.fs-75 {
  font-size: 75px;
}

.fs-55 {
  font-size: 50px;
}

.fs-45 {
  font-size: 45px;
}

.fw-600 {
  font-weight: 600;
}

.radius-20 {
  border-radius: 20px;
}

.radius-10 {
  border-radius: 10px;
}

.radius-30 {
  border-radius: 30px;
}

.radius-50 {
  border-radius: 50px;
}

.z-index-1 {
  z-index: 1 !important;
}

.portfolio-slider {
  background-color: #fa6b12;
}

.hexagon {
  height: 200px !important;
  width: 200px !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  overflow: hidden;
}

.outer-img {
  top: 10px;
  left: -8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 165px;
  z-index: 0;
}

.inner-img {
  top: 16px;
  right: 25px;
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  width: 165px;
  height: 165px;
  z-index: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
}
.inner-img img {
  transition: 1s width;
  width: 0%;
}

.hexagon:hover .inner-img {
  transition: 1s width;
  visibility: visible;
}
.hexagon:hover .inner-img img {
  width: 100%;
  transition: 1s width;
}

.hexagon-ring {
  z-index: 1 !important;
}

.hexagon-outer {
  width: 200px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f0f0f0;
  background-image: linear-gradient(rgba(187, 187, 187, 0.4941176471) 1px, transparent 0.1em), linear-gradient(90deg, rgba(187, 187, 187, 0.4941176471) 1px, transparent 0.1em);
  background-size: 3.3em 3.3em;
}

a {
  text-decoration: none !important;
}

.home-banner {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.home-banner .lcd-div,
.home-banner .cofee-cup-div,
.home-banner .home-page-heading,
.home-banner .mouse-div,
.home-banner .keyboard-div {
  pointer-events: none;
}
.home-banner .lcd-div img,
.home-banner .cofee-cup-div img,
.home-banner .home-page-heading img,
.home-banner .mouse-div img,
.home-banner .keyboard-div img {
  pointer-events: all;
}
.home-banner .lcd-div p,
.home-banner .cofee-cup-div p,
.home-banner .home-page-heading p,
.home-banner .mouse-div p,
.home-banner .keyboard-div p {
  pointer-events: all;
}
.home-banner .lcd-div {
  position: absolute;
  top: 100px;
  z-index: 1;
}
.home-banner .cofee-cup-div {
  position: absolute;
  top: 35%;
  left: 9%;
  z-index: 1;
}
.home-banner .home-page-heading {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}
.home-banner .mouse-div {
  position: absolute;
  bottom: 13%;
  right: 15%;
  z-index: 1;
}
.home-banner .keyboard-div {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.carasoule {
  background-color: #ffffff;
  box-shadow: 4px 4px 3px whitesmoke;
}

.primary-service .primary-text {
  top: -23px !important;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: absolute;
  background-color: #ff6000;
  transition: transform 0.3s ease;
  border: 1px solid rgba(225, 225, 225, 0.1);
  z-index: 0;
}

.box:hover {
  transform: scale(1.5);
  z-index: 1 !important;
  border: 1px solid rgba(225, 225, 225, 0.4) !important;
}

.read-more-arrow {
  padding: 10px 15px 10px 15px;
  margin-top: 23px;
  cursor: pointer;
}

.read-more-arrow-hover {
  background-color: #ff6000 !important;
  color: white;
}

.read-more-btn {
  visibility: hidden;
}

.read-more-btn-hover {
  transition: 1s all;
  visibility: visible !important;
}

.services-card {
  background-color: #fff !important;
  color: #696969 !important;
  transition: 500ms all;
}

.services-card-hover {
  background-color: #ff6000 !important;
  transition: 500ms all;
  color: white !important;
}

.portfolio-banner {
  min-height: 70vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio-banner .portfolio-text {
  top: -23px !important;
}

.estate-pie-box {
  min-height: 100vh;
  background-color: #bbeafb;
  position: relative;
}

.carchive-app-box {
  min-height: 100vh;
  background-color: #ff5b00;
  position: relative;
}
.carchive-app-box .learn-more,
.carchive-app-box .carchive-img {
  z-index: 1 !important;
  position: relative;
}

.estate-pie-app-box {
  min-height: 100vh;
  background-color: #00274d;
  position: relative;
}

.carchive-web-box {
  min-height: 100vh;
  background-color: #ff5b00;
  position: relative;
}
.carchive-web-box .learn-more {
  z-index: 1 !important;
  position: relative;
}

.about-jeux-deevelopers {
  min-height: auto;
}
.about-jeux-deevelopers .project-detail .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 140px;
  border-radius: 20px;
}
.about-jeux-deevelopers .project-detail .card span {
  font-size: 85px;
}

.jeux-developers-heading .jeux-text {
  top: -30px;
}

.location-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 20px;
  background: rgb(0, 212, 255);
  background: linear-gradient(0deg, #fa6b12 0%, #fa6b12 56%, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0) 100%);
}

.location-box div {
  background-color: #000;
}

.idea-box {
  font-family: "Raleway", sans-serif;
  background: rgb(1, 198, 252);
  width: 100%;
  background: #fa6b12;
}

.idea-box .form-control {
  color: #fff;
  border-radius: 0px !important;
  background: transparent !important;
  border-bottom: 2px solid #fff !important;
}

.idea-box .form-select {
  border-radius: 0px !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
  border-bottom: 2px solid #fff !important;
  background-repeat: no-repeat;
}

.idea-box .nice-select .option {
  background: transparent !important;
  color: #000000;
}

.idea-box .form-control::-moz-placeholder {
  color: #fff;
}

.idea-box .form-control::placeholder {
  color: #fff;
}

.idea-box button {
  border-radius: 30px;
}

.links-section > .address > p {
  font-size: 13px;
}

.links-section > .address > p > a {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.links-section .social-btn {
  background-color: #000;
  display: block;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
}

.links-section .social-btn {
  height: 50px;
  width: 50px;
  margin: auto;
}

footer .footer-btn {
  background: linear-gradient(0deg, rgb(1, 198, 252) 0%, rgb(15, 66, 189) 100%);
  border-radius: 30px;
  border: none;
  box-shadow: none !important;
}

.links-section > div {
  border-right: none;
  border-bottom: 1px solid #e1e1e1;
}

.links-section > div:last-child {
  border: none;
}

@media (min-width: 768px) {
  .links-section > div {
    border-bottom: none;
    border-right: 1px solid #e1e1e1;
  }
  .links-section > div:last-child {
    border: none;
  }
}
footer .social-buttons {
  text-decoration: none;
}
footer .social-buttons span {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
footer .social-buttons span:hover {
  scale: 1.2;
  transition: all 0.2s;
}

.navbar-expand-lg {
  top: 43px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 5px;
  z-index: 1000;
}

.call-btn {
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.call-btn:hover {
  color: white;
  scale: 1.02 !important;
}

.whatsapp-btn {
  background-color: #ffffff;
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.whatsapp-btn:hover {
  color: black;
  scale: 1.02 !important;
}

.contact-btn {
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 7px;
}
.contact-btn:hover {
  color: white;
  scale: 1.02 !important;
}

.navbar-toggler {
  background-color: black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 3px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 7px;
}

@media only screen and (max-width: 992px) {
  .whatsapp-btn, .call-btn {
    display: none !important;
  }
  .contact-icons {
    display: block !important;
  }
}
@media only screen and ((max-width: 1080px) and (min-width: 992px)) {
  .call-btn,
  .whatsapp-btn,
  .contact-btn,
  .nav-link {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .navbar-expand-lg {
    border-radius: 35px;
    top: 30px !important;
    padding-top: 5px !important;
    padding-bottom: 10px !important;
  }
  .logo {
    width: 80px;
  }
  .position-fix {
    position: fixed;
    margin: 0px !important;
    width: 100%;
    margin-top: -20px !important;
  }
}
@media only screen and (max-width: 535px) {
  .estate-pie-box .heading {
    font-size: 25px !important;
  }
  .estate-pie-box .text {
    font-size: 17px !important;
  }
  .carchive-app-box .heading {
    font-size: 60px;
  }
  .carchive-app-box .text {
    font-size: 17px;
  }
  .estate-pie-app-box .heading {
    font-size: 25px !important;
  }
  .estate-pie-app-box .text {
    font-size: 17px !important;
  }
  .carchive-web-box .heading {
    font-size: 60px;
  }
  .carchive-web-box .text {
    font-size: 17px;
  }
  .about-jeux-deevelopers .jeux-text {
    margin-top: 10px;
  }
  .about-jeux-deevelopers .text-cadet-grey {
    font-size: 17px;
  }
  .about-jeux-deevelopers .project-detail .text {
    font-size: 25px;
  }
  .story-box .text {
    font-size: 17px;
  }
}
@media only screen and (max-width: 1400px) {
  .home-page-heading {
    top: 50% !important;
  }
  .home-page-heading p {
    font-size: 55px !important;
  }
  .cofee-cup-div {
    top: 30% !important;
  }
}
@media only screen and (max-width: 1000px) {
  .home-page-heading p {
    font-size: 40px !important;
  }
  .lcd-div {
    width: 100% !important;
  }
  .cofee-cup-div {
    top: 30% !important;
  }
  .mouse-div {
    bottom: 30% !important;
    right: 7% !important;
  }
  .keyboard-div {
    bottom: 0px !important;
  }
}
@media only screen and (max-width: 730px) {
  .home-page-heading {
    top: 45% !important;
  }
  .home-page-heading p {
    font-size: 35px !important;
  }
  .lcd-div {
    width: 100% !important;
  }
  .lcd-div img {
    width: 95% !important;
  }
  .cofee-cup-div {
    top: 23% !important;
  }
  .mouse-div {
    bottom: 35% !important;
    right: 2% !important;
  }
  .keyboard-div {
    bottom: 15% !important;
  }
}
@media only screen and (max-width: 530px) {
  .home-banner {
    height: 77vh !important;
  }
  .home-page-heading {
    top: 60% !important;
  }
  .home-page-heading p {
    font-size: 38px !important;
    line-height: 40px;
    font-weight: bolder !important;
  }
  .lcd-div {
    width: 100% !important;
  }
  .lcd-div .lcd-img1 {
    display: none !important;
  }
  .lcd-div .lcd-img2 {
    display: block !important;
    width: 90% !important;
    margin-left: 7px !important;
  }
  .cofee-cup-div {
    top: 27% !important;
    left: -17% !important;
    width: 120px !important;
  }
  .mouse-div {
    bottom: 16% !important;
    right: -1% !important;
    width: 100px !important;
  }
  .keyboard-div {
    bottom: -50px !important;
    width: 300px !important;
  }
}
@media only screen and (max-width: 600px) {
  .lcd-div {
    position: absolute;
    top: 75px !important;
    z-index: 1;
  }
  .skill {
    width: 140px !important;
  }
}/*# sourceMappingURL=style.css.map */